<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Server Starting</title>-->
<!--    <script>-->
<!--        function checkStatus() {-->
<!--            fetch('/status/')-->
<!--                .then(response => response.json())-->
<!--                .then(data => {-->
<!--                    if (data.ready) {-->
<!--                        window.location.href = "/";  // Redirect to the main page or reload the current page-->
<!--                    } else {-->
<!--                        setTimeout(checkStatus, 1000);  // Check again after 1 second-->
<!--                    }-->
<!--                });-->
<!--        }-->
<!--        window.onload = function() {-->
<!--            checkStatus();-->
<!--        };-->
<!--    </script>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Server is starting up, please wait!</h1>-->
<!--</body>-->
<!--</html>-->

<h1>hi!</h1>